.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 4   0px;   
 }

 .center-text {
    margin-top: 100px;   
     text-align: center;
 }

 #price {
     display: flex;
     justify-content: center;
 }

 /* .card-deck {
    float: left;
    width: 33%;
    padding: 10 10px;
  } */



 


  .card-deck {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
  }

  /* .card {
    object-fit: contain;

  } */

.menu {
    text-align: center;
    font-family: cursive;
    font-size: 48px;
}

.card-img-top {
    height: 300px;
    width: 300px;
    object-fit: cover;
}



/* Card flips */

.flip-card {
    object-fit: contain;
    width: 33%;
    height: 400px;
    perspective: 1000px; /* 3D effect */
    text-align: center;
  }
  
  .flip-card-inner {
    transition: 0.5s;
    transform-style: preserve-3d;
  }

 
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* flip */
  }
  
.flip-card-front, .flip-card-back {
    
    position: absolute;
    -webkit-backface-visibility: hidden; /* avoid glitches*/
  }
  
.flip-card-back {
    transform: rotateY(180deg); /* Need this to mirror card*/
  }