img {
    width: 100%;
    height: auto;
}

.profile_pic {
    clip-path: circle();
    width: 80%;
    height: 80%;
    
    /* margin: auto;    
    display: block; */
}


/* .picture_column {
    width: 90px;
    height: 90px;
    margin: auto;    
    display: block;
    
} */